# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/SomniumEngine/Output/*.dll
/SomniumEngine/Output/*.ilk
/SomniumEngine/Output/*.pdb
/SomniumEngine/*.opensdf
/SomniumEngine/*.sdf
*.tlog
*.obj
*.lastbuildstate
*.log
*.exe
*.ilk
*.pdb
*.idb
*.sdf
*.opensdf
*.ipch
*.unsuccessfulbuild

*.manifest
*.psess
*.vsp

/bin/*.rar

# Visual Studio compiled shaders.
*.cso
